<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Товар</th>
      <th>Количество</th>
      <th>Цена</th>
      <th>Доход</th>
      <th>Оформлено в</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% product_sells.each do |product_sell| %>
      <%= turbo_frame_tag 'product_sells' do %>
        <%= render 'product_sells/product_sell_turbo', product_sell: product_sell %>
      <% end %>
    <% end %>
  </tbody>
</table>
