<%= render 'layouts/progress', value: 25 %>
<div class='container my-5'>
  <div class='text-center'>
    <span>Укажите директорию</span>
  </div>
  <br>
  <div class='row'>
    <div class='col-sm-4' style= 'width: 100%'>
      <%= link_to new_sale_from_local_service_path, class: 'card shadow text-center p-3 m-1', style: 'height: 130px; color: wheat; font-size: large; font-weight: bold; background: gray' do %>
        <span>Услуга</span>
      <% end %>
    </div>
    <div class='col-sm-4'>
      <%= link_to new_sale_path, class: 'card shadow text-center p-3 m-1', style: 'height: 130px; color: wheat; font-size: large; font-weight: bold; background: gray' do %>
        <span>Продажа</span>
      <% end %>
    </div>
    <div class='col-sm-4'>
      <%= link_to new_sale_from_local_service_path, class: 'card shadow text-center p-3 m-1', style: 'height: 130px; color: wheat; font-size: large; font-weight: bold; background: gray' do %>
        <span>Обьект</span>
      <% end %>
    </div>
  </div>
</div>
