<table class="table table-hover table-bordered table-striped">
  <thead>
    <tr>
      <th>Цена</th>
      <th>Комментарие</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @local_services.each do |local_service| %>
      <tr>
        <td><%= number_to_currency local_service.price %></td>
        <td><%= local_service.comment %></td>
        <td><%= cdlink_to 'удалить', local_service %></td>
      </tr>
    <% end %>
  </tbody>
</table>
