<% progress_value = @product_entry.local_entry ? '50' : '75' %>

<div style='background-color: #80d3ff87; border-radius: 36px' class="container shadow">
  <%= render 'layouts/progress', value: progress_value %>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-4">Добавить новый</h1>
      <%= render 'form', product_entry: @product_entry %>
      <%= link_to 'назад', product_entries_path, class: "btn btn-light min-width-btn" %>
    </div>
  </div>
</div>
