<div class='container'>
  <div class="card-header d-flex justify-content-between align-items-center">
    <h3 class="card-title font-weight-bold">Продажа</h3>
  </div>
  <% unless @sale.closed? %>
    <%= render 'product_sells/form', product_sell: ProductSell.new(sale_id: @sale.id) %>
  <% end %>
  <br><br>

  <div class='row'>
    <div class='col-sm-12'>
      <% unless @product_sells.count.zero? %>
        <%= render 'product_sells/product_sells', product_sells: @product_sells %>
      <% end %>
    </div>
  </div>
  <br><br><hr>
  <div><b>ИТОГО: <%= number_to_currency @sale.get_total_price %></b></div>
  <% unless @sale.closed? %>
    <%= render 'sales/form', sale: @sale %>
  <% end %>
</div>

